<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS">
  <Document name="iris-ops-studio.ZPM">
    <Module>
      <Name>iris-ops-studio</Name>
      <Version>1.1.0</Version>
      <Description>Safety-first management portal for InterSystems IRIS SysAdmin APIs</Description>
      <Keywords>IRIS,SysAdmin,operations,monitoring,security</Keywords>
      <Packaging>module</Packaging>
      <WebApplication AutheEnabled="64" AutoCompile="1" CookiePath="/csp/ops/" CSPZENEnabled="1" InbndWebServicesEnabled="1" LockCSPName="1" MatchRoles=":{$globalsDbRole}" Name="/csp/ops" NameSpace="{$namespace}" Path="${cspdir}ops/" Recurse="1" ServeFiles="2" ServeFilesTimeout="3600" Timeout="900" UseCookies="2"/>
      <FileCopy Name="/web/" Target="${cspdir}ops/"/>
      <SourcesRoot>src</SourcesRoot>
      <Resource Directory="cls" Name="IrisOps.PKG"/>
    </Module>
  </Document>
</Export>
